/*estilos del cuerpo del login */
body {
    background-image:  url("../Img/login.png");
}
#containernav{
  margin-top: 60px;
  background-color: white;
}
#encabezado{
  background-color: white;
}
#warning{
	margin-top: 10px;
}

