body{
	background-image: url("../Img/2.png");
}
#containernav{
  margin-top: 30px;
  background-color: white;
}
#encabezado{
  background-color: white;
  margin-top: -20px;
}
h2{
	font-weight: bold;
	color:#4682B4;
}
h3{
	font-size: 15px;
}