body{
	/*background-image: url("../Img/2.png");*/
}
#header{
	background-color: #FAFAFA;
	padding: 10px;
}
#fotografia{
	width: 60px;
	height: 60px;
}
#cerrar{
	float: right;
}
#formulario-password{
	margin-top: 50px;
}
